<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


<!-- 	<environments default="mydb">
		<environment id="mydb">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
				<property name="username" value="c##jdbc"/>
				<property name="password" value="jdbc"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mybatis/sql-mapping.xml"/>
	</mappers> -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
		<property name="username" value="c##jdbc"/>
		<property name="password" value="jdbc"/>
	</bean>
	
	<bean id = "sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:spring/mybatis/mybatis-config.xml"/>
		<property name="mapperLocations" value="classpath:spring/mybatis/*-mapping.xml"/>
	</bean>
	
	<bean id="" class="org.mybatis.spring.SqlSessionTemplate"><!-- SqlSession 하위클래스 -->
		<constructor-arg ref="sqlSessionFactory"/>
	</bean>
	
	<context:component-scan base-package="spring.mybatis"/>
	
 </beans>
